# servo control

CHANNEL_CONFIGS:
    pump:
        output_channel: 15
        pulse_min: 1000
        pulse_max: 1600
        idle: 0.40 # 0.45
        multiplier: 0.4

    lift_boom:
        output_channel: 3  # output pin on the servo board
        affects_pump: True # whether moving this servo affects the pump speed (if set to variable)
        toggleable: False  # whether this servo can be toggled on/off via call
        center: 1400       # 1566 center pulse width in microseconds
        direction: 1       # pretty self-explanatory, -1 or 1
        pulse_min: 1100    # extend. This sets max velocity. Increase until arm doesn't go faster --> valve fully open
        pulse_max: 2000    # retract. Max velocity in other direction
        deadzone: 1.2      # % of total range to ignore around center (=cuts out values)

        deadband_us_pos: 155.0 #150 pos/neg offsets from center (us)
        deadband_us_neg: 155.0 # if these match, your center value is prob correct :)

        dither_enable: True # enable/disable dither. Adds sine wave to the control signal.
        dither_amp_us: 20.0 # amplitude in microseconds
        dither_hz: 15.0     # frequency in Hz

        ramp_enable: False   # slew limit.
        ramp_limit: 1200.0  # us/s. Reduce to limit servo overshoot when exiting deadband

        gamma: 1.0          # control signal curve. Set to 0.5 for classic inverse square root shaping

    tilt_boom:
        output_channel: 4
        affects_pump: True
        toggleable: False
        center: 1485 # 1487
        direction: 1
        pulse_min: 1250     # ret
        pulse_max: 1720     # ext
        deadzone: 1.0
        deadband_us_pos: 130.0
        deadband_us_neg: 130.0
        dither_enable: true
        dither_amp_us: 20.0
        dither_hz: 15.0
        ramp_enable: False
        ramp_limit: 1000.0
        gamma: 1.0

    scoop:
        output_channel: 2
        affects_pump: True
        toggleable: False
        center: 1500
        direction: -1       # ext/ret flipped!
        pulse_min: 1100     # ext
        pulse_max: 1900     # ret 1620
        deadzone: 1.0
        deadband_us_pos: 120.0
        deadband_us_neg: 120.0 # 140 all
        dither_enable: true
        dither_amp_us: 20.0
        dither_hz: 15.0
        ramp_enable: False
        ramp_limit: 1000.0
        gamma: 1.0

    rotate:
        output_channel: 5
        affects_pump: False
        toggleable: False
        center: 1500 #1558
        direction: -1
        pulse_min: 1460
        pulse_max: 1620  #1604
        deadzone: 1.0
        deadband_us_pos: 45.5  # 45.0
        deadband_us_neg: 45.5       # 44.5
        dither_enable: False
        dither_amp_us: 15.0
        dither_hz: 16.0
        ramp_enable: false
        ramp_limit: 100.0
        gamma: 1.0
